.footer {
    width: 100%;
    background: var(--primary-color-500);
}
.footer-wrapper {
    padding: 90px 0;
}
.footer-wrapper .footer__copyright {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-wrapper .footer__copyright p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--white-color);
}
.footer__policy {
    display: flex;
    gap: 32px;
}
.footer__policy span {
    width: 1px;
    height: 100%;
    background: var(--gray-color-200);
}
.footer__divider {
    width: 100%;
    background: var(--gray-color-200);
    height: 1px;
}
.footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    margin-bottom: 60px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-item__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
}
.footer-item__logo h1 {
    font-family: 'Atkinson Bold', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    color: var(--white-color);
}
.footer-item p {
    color: var(--white-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-top: 24px;
}
.footer-item .footer-item__social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.footer-item .footer-item__heading {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--secondary-color-500);
}
.footer-item .footer-item__heading h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
.footer-item .footer-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
    .footer__content {
        grid-template-columns: 1fr;
    }
    .footer-wrapper {
        padding: 90px 72px;
    }
}
