/* define btn */
.btn {
    background: var(--gray-color-300);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 94% 0, 100% 22%, 100% 100%, 6% 100%, 0 77%);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn .btn__line {
    width: 16px;
    height: 2px;
    background: var(--gray-color-200);
    margin-left: 12px;
    transition: width 0.3s ease-in-out;
}
.btn .btn__content {
    color: var(--gray-color-200);
    font-size: var(--font-size-base);
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
/* btn hover */
.btn:hover {
    background: var(--secondary-color-500);
}
.btn:hover .btn__content {
    color: var(--white-color);
}
.btn:hover .btn__line {
    background: var(--white-color);
    width: 32px;
}
/* define btn icon */
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color-100);
    border: 2px solid var(--secondary-color-500);
    transition: all 0.3s ease-in-out;
}
.btn-icon .icon {
    color: var(--secondary-color-500);
    font-size: 35px;
}
/* btn icon hover */
.btn-icon:hover {
    background: var(--secondary-color-500);
}
.btn-icon:hover .icon {
    color: var(--white-color);
}
/* size of btn*/
.btn--sm {
    height: 52px;
}
.btn--md {
    height: 60px;
}
.btn--lg {
    height: 64px;
}
.btn--xl {
    height: 68px;
}
/* shape of btn*/
.btn--circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.btn--square {
    aspect-ratio: 1/1;
}
.btn--rectangle {
    aspect-ratio: 4/1;
}
