.icon-wrapper {
    clip-path: polygon(0 0, 75% 0%, 100% 25%, 100% 100%, 0 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color-500);
}

.icon-wrapper--sm {
    width: 50px;
    height: 50px;
}
.icon-wrapper--md {
    width: 60px;
    height: 60px;
}
.icon-wrapper .icon-wrapper__icon {
    color: var(--white-color);
}
