@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=WindSong:wght@400;500&display=swap");
@font-face {
    font-family: "Atkinson Regular";
    src: url("../../assets/fonts/AtkinsonHyperlegible-Regular.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Atkinson Bold";
    src: url("../../assets/fonts/AtkinsonHyperlegible-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Atkinson Italic";
    src: url("../../assets/fonts/AtkinsonHyperlegible-Italic.ttf");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Atkinson Italic";
    src: url("../../assets/fonts/AtkinsonHyperlegible-BoldItalic.ttf");
    font-style: bold italic;
    font-weight: 700;
}
