:root {
    --bg-color: #f2f4f9;
    --white-color: #fff;
    --black-color: #011222;
    --primary-color-600: #02071a;
    --primary-color-500: #020920;
    --primary-color-400: #15214b;
    --primary-color-300: #273975;
    --primary-color-200: #3a52a0;
    --primary-color-100: #4c6aca;
    --gray-color-100: #5b6b7a;
    --gray-color-200: #bdbdbd;
    --gray-color-300: #e0e0e0;
    --secondary-color-500: #ff9d29;
    --secondary-color-400: #ffb154;
    --secondary-color-300: #ffc47f;
    --secondary-color-200: #ffd8a9;
    --secondary-color-100: #ffebd4;
    --accent-color-500: #fa1d1d;
    --accent-color-400: #fb4a4a;
    --accent-color-300: #fc7777;
    --font-size-xs: 8px;
    --font-size-sm: 12px;
    --font-size-base: 16px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-2xl: 36px;
    --font-size-3xl: 56px;
    --font-size-4xl: 70px;
    --font-size-5xl: 98px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}
