# Đặt các giá trị mặc định cho tất cả các tệp
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Cấu hình riêng cho các tệp Markdown
[*.md]
max_line_length = off
trim_trailing_whitespace = false
