.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 0;
}
.header-content {
    display: flex;
    width: 1200px;
    justify-content: space-between; /* Optional, depending on your layout needs */
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    margin-left: 12px;
    font-family: 'Atkinson Bold', sans-serif;
    text-transform: uppercase;
    color: var(--primary-color-500);
    font-size: var(--font-size-2xl);
}
.header-contact {
    display: flex;
    align-items: center;
}
.header-contact p {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: var(--gray-color-200);
    font-size: 20px !important;
}
