.navbar {
    width: 479px;
}
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:is(.navbar-item a, .navbar-parent__link, .navbar-item__link p) {
    color: var(--gray-color-200);
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
:is(.navbar-parent__link, .navbar-item) {
    cursor: pointer;
}
:is(.navbar-parent, .navbar-item) {
    position: relative;
    padding: 12px 0;
}
.navbar-parent > span,
.navbar-item > span {
    position: absolute;
    width: 0;
    top: 75%;
    left: 0;
    height: 2px;
    background-color: var(--secondary-color-500);
    transition: width 0.3s ease-in-out;
}
.navbar-parent:hover > span,
.navbar-item:hover > span {
    width: 100%;
}
.navbar-parent:hover .navbar-parent__link,
.navbar-item:hover a {
    color: var(--secondary-color-500);
}
.navbar-parent__link {
    display: flex;
    align-items: center;
}
.navbar-parent__link i {
    margin-left: 11px;
    font-size: 20px;
}
.navbar-parent__list {
    position: absolute;
    background: var(--white-color);
    top: 100%;
    left: -25px;
    padding: 25px;
    width: 190px;
    display: none;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.navbar-parent__list li + li {
    margin-top: 20px;
}

.navbar-parent:hover .navbar-parent__list {
    display: block;
}
