.information {
    width: 100%;
    background: var(--primary-color-500);
    display: flex;
    justify-content: center;
    padding: 60px 119px;
}
.information-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px 220px;
}

.information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
}
.information-item .information-item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
    font-size: var(--font-size-md);
    color: var(--white-color);
    transition: all 0.5s ease;
    white-space: nowrap;
}
.information-item .information-item__value {
    font-family: 'Atkinson Bold', sans-serif;
    font-size: var(--font-size-4xl);
    color: var(--white-color);
    margin-top: 12px;
    transition: all 0.5s ease;
}
.information-item:hover .information-item__value,
.information-item:hover .information-item__title {
    color: var(--secondary-color-500);
}
