.why_choose_us {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    padding: 190px 0;
}
.why_choose_us-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why_choose_us-title .why_choose_us-title__heading {
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    color: var(--accent-color-500);
    letter-spacing: 1px;
}
.why_choose_us-title .why_choose_us-subheading {
    font-family: "Atkinson Bold", sans-serif;
    color: #011222;
    max-width: 550px;
    font-size: 52px;
    text-align: center;
}
.why_choose_us-content {
    margin-top: 60px;
    height: 461px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.why_choose_us-content .why_choose_us-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.why_choose_us-content .why_choose_us-item {
    display: flex;
    align-items: flex-start;
}
.why_choose_us-item__content {
    max-width: 296px;
    display: flex;
    flex-direction: column;
}
.why_choose_us-item__content--left {
    align-items: flex-start;
}
.why_choose_us-item__content--right {
    align-items: flex-end;
}
.why_choose_us-item__content .why_choose_us-item__title {
    font-family: "Atkinson Bold", sans-serif;
    font-size: 20px;
    color: #2e3e4e;
    text-transform: uppercase;
}
.why_choose_us-item__content .why_choose_us-item__desc {
    font-family: "Open Sans", sans-serif;
    color: var(--gray-color-100);
    font-size: var(--font-size-md);
    line-height: 153%;
}
